* {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: rgb(124,111,78);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(104, 93, 65);
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    line-height: 1.8;
    display: grid;
    grid-template-rows: 80px 1fr 342px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color .2s ease;
}

header a img {
    width: 400px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 25px;

}


nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: rgba(255, 255, 255, 0.747);
}

nav ul li a {
    position: relative;
}
nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(124,111,78);
    height: 1px;
}
nav ul li a:hover:after {
    width: 100%;
}

.nav-line {
    cursor: default;
    font-size: 25px;
    font-weight: bold;
    color: rgb(124,111,78);
}

main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}



.bevestiging {
    margin-top: 100px;
    margin-bottom: 100px;
    background: rgb(19,19,19);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    padding: 20px;
}

.bevestiging a {
    text-decoration: none;
    background-color: rgb(52,52,52);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .18em;
    margin-top: 0;
    padding: 10px;
    transition: .5s ease;
    font-weight: bold;
}

.bevestiging a:hover {
    background-color: rgba(52,52,52,.8);
}

.bevestiging h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: .20em;
}

.bevestiging i {
    color: #be9e80;
    font-size: 150px;
}

footer {
    grid-area: footer;
    background-color: rgb(19,19,19);
}

.footer-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(52,52,52);
}

.footer-top img {
    margin-top: 40px;
    width: 450px;
}

.media {
    margin-top: 45px;
    margin-bottom: 20px;
    display: flex;
}

.media div {
    cursor: pointer;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    place-content: center;
    align-items: center;
    border: 3px solid rgb(52,52,52);
    transition: .2s ease;
}

.media i {
    font-size: 30px;
    color: rgb(52,52,52);
}

.media div:hover {
    border-radius: 50%;
    background-color: #be9e80;
}

.footer-bottom {
    padding: 20px;
    color: #be9e80;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
}